<form [formGroup]="loginForm">

  <p-toast position="bottom-center" key="invalidForm" [life]="3000"></p-toast>
  <p-toast position="bottom-center" key="wrongPass" [life]="3000"></p-toast>
  <p-toast  key="admin" [life]="3000"></p-toast>
  <p-toast  key="user" [life]="3000"></p-toast>
  <div class="login-container">
    <h1>Login To MegaFiles</h1>

    <span class="p-input-icon-left p-mb-4">
      <i class="pi pi-user"></i>
      <input
        id="email"
        style="width: 100%"
        type="email"
        pInputText
        class="w-full"
        placeholder="Email"
        formControlName="email"
      />
    </span>

    <span class="p-input-icon-left p-mb-4">
      <i class="pi pi-lock"></i>
      <input
        id="password"
        style="width: 100%"
        type="password"
        pInputText
        class="w-full"
        placeholder="Password"
        formControlName="password"
      />
    </span>

    <button
      pButton
      type="button"
      label="Login"
      class="ui-button-rounded ui-button-outlined"
      (click)="login()"
    ></button>
    <span class="new-user">
      <p>New User? <a routerLink="/signup">Register Now</a></p>
    </span>
  </div>
</form>
