<p-menubar [model]="items" styleClass="custom-menubar" *ngIf="!storageService.isLoggedIn('ADMIN') && !storageService.isLoggedIn('USER')">
    <ng-template pTemplate="start">
      <a class="logo" href="/">
        <img src="assets/logo.png" alt="Logo" width="40" height="40" />
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <button routerLink="/login" pButton type="button" icon="pi pi-user" label="Login" class="ui-button-rounded ui-button-outlined"></button>
    </ng-template>
  </p-menubar>

  <p-menubar [model]="items" styleClass="custom-menubar" *ngIf="this.storageService.isLoggedIn('ADMIN')">
    <ng-template pTemplate="start">
      <a class="logo" href="/">
        <img src="assets/logo.png" alt="Logo" width="40" height="40" />
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <button routerLink="/login" pButton type="button" icon="pi pi-sign-out" label="Logout" (click)="storageService.logout()" class="ui-button-rounded ui-button-outlined"></button>
    </ng-template>
  </p-menubar> 
  
  
  <p-menubar [model]="userItems" styleClass="custom-menubar" *ngIf="this.storageService.isLoggedIn('USER')">
    <ng-template pTemplate="start">
      <a class="logo" href="/">
        <img src="assets/logo.png" alt="Logo" width="40" height="40" />
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <button routerLink="/login" pButton type="button" icon="pi pi-sign-out" label="Logout" (click)="storageService.logout()" class="ui-button-rounded ui-button-outlined"></button>
    </ng-template>
  </p-menubar>
  