<form>
  <div class="login-container">
    <h1>Sign Up To MegaFiles</h1>

    <span class="p-input-icon-left p-mb-4">
      <i class="pi pi-user"></i>
      <input
        id="name"
        style="width: 100%"
        type="text"
        pInputText
        class="w-full"
        placeholder="Enter Full Name"
        
      />
    </span>
    
    <span class="p-input-icon-left p-mb-4">
      <i class="pi pi-at"></i>
      <input
        id="email"
        style="width: 100%"
        type="email"
        pInputText
        class="w-full"
        placeholder="Enter Email"
        
      />
    </span>

    <span class="p-input-icon-left p-mb-4">
      <i class="pi pi-lock"></i>
      <input
        id="email"
        style="width: 100%"
        type="password"
        pInputText
        class="w-full"
        placeholder="Password"
        
      />
    </span>

    <span class="p-input-icon-left p-mb-4">
      <i class="pi pi-lock"></i>
      <input
        id="cpass"
        style="width: 100%"
        type="password"
        pInputText
        class="w-full"
        placeholder="Confirm Password"
        
      />
    </span>

    <button
      pButton
      type="button"
      label="Signup"
      class="ui-button-rounded ui-button-outlined"
    ></button>
    <span class="new-user">
      <p>Already Have An Account? <a routerLink="/login">Login Now</a></p>
    </span>
  </div>
</form>
