<p-toast position="top-center" key="copied" [life]="3000"></p-toast>
<p-toast position="top-center" key="delete" [life]="3000"></p-toast>

<div class="grid">

    <div class="col-12">
        <div class="card">
            
            <p-table #dt1 
                     [value]="files" 
                     [rows]="10"
                     dataKey="id"  
                     [paginator]="files.length > 10" 
                     [rowsPerPageOptions]="[10, 20, 50]" 
                     [responsiveLayout]="'scroll'" 
                     styleClass="p-datatable-gridlines">

                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">Name</div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">Downloads</div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">Size</div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">Upload At</div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">File Status</div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">File URL</div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">Action</div>
                        </th>
                        
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-file let-i="index">
                    <tr>
                        <td>{{ file.filename }}</td>
                        <td><span class="image-text ml-2">{{ file.downloadCount }}</span></td>
                        <td><span class="image-text ml-2">{{ file.fileSize | fileSize }}</span></td>
                        <td>{{ file.uploadTime | date: 'MM/dd/yyyy hh:mm a' }}</td>
                        <td><p-tag *ngIf="file.fileStatus==='PUBLIC'" icon="pi pi-globe" severity="success" value="Public"></p-tag> <p-tag *ngIf="file.fileStatus==='PRIVATE'" icon="pi pi-lock" severity="danger" value="Private"></p-tag></td>
                        <td><p-overlayPanel #op>
                            <ng-template pTemplate="content">
                                <input #copyInput pInputText value="{{file.shortUrl}}" readonly class="w-25rem" /> &nbsp;
                                <span> <p-button [icon]="isCopied ? 'pi pi-check' : 'pi pi-copy'"  (click)="copyToClipboard(copyInput.value)" /></span>
                            </ng-template>
                        </p-overlayPanel>
                        <p-button [disabled]="file.fileStatus==='PRIVATE'" (click)="op.toggle($event)" icon="pi pi-share-alt" label="Share"></p-button> </td>

                        <td>
                            <p-overlayPanel #edit>
                                <ng-template pTemplate="content">
                                    <p-button styleClass="delete-btn"  [icon]="file.fileStatus==='PRIVATE'?'pi pi-globe':'pi pi-lock'" [label]='file.fileStatus==="PRIVATE"?"Make Public":"Make Private"' [severity]='file.fileStatus==="PRIVATE"?"success":"warning"' (click)="changeFileAccess(file.fileStatus,file.fileId)"></p-button> &nbsp;
                                    <p-button styleClass="delete-btn" (click)="deleteFile(file.fileId)" icon="pi pi-trash" label="Delete" severity="danger"></p-button>
                                </ng-template>
                            </p-overlayPanel>
                            <p-button styleClass="delete-btn"  icon="pi pi-file-edit" label="Edit" severity="secondary" (click)="edit.toggle($event)"></p-button> </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No files found.</td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">Loading files data. Please wait.</td>
                    </tr>
                </ng-template>

            </p-table>
        </div>
    </div>
</div>
