.grid{
    margin-top: 10px !important;
}

th div{
    justify-content: center !important;
}


td{
    text-align: center !important;
    padding: 2px !important;
}

.delete-btn{
    padding: 2px !important;
}